$main-font-family: 'Montserrat', sans-serif;

$secondary-font-family: 'Kaushan Script', cursive;

$third-font-family: 'Roboto', sans-serif;

$main-font-size: 14px;

$main-text-color: #fff;

$secondary-text-color: #333333;

$third-text-color: #999999;

$main-hover-color: #fce38a;

$transition: all 200ms;
